<a href="https://colab.research.google.com/github/Diego-rp/Google-Colab/blob/master/02%20-%20Loading%20Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Lambda School Data Science - Intro to Pandas
---
# 02 - Loading Data
---

##STOP! BEFORE GOING ANY FURTHER...  


1. Click "File" at the top.
2. Then, "Save a Copy in Drive."
3. Change the file name to "FIRSTNAME_LASTNAME_1_2"  

Now you have a copy of this notebook in your Drive account. This is the copy you'll edit and submit. Be sure to do this for ***every*** assignment!

### Import pandas with the "pd" alias.

In [0]:
import pandas as pd
import numpy as np

### Import the data in the CSV file.
Today you'll be working with some GDP data. You can find the data [here](https://raw.githubusercontent.com/axrd/datasets/master/gdp.csv).

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/axrd/datasets/master/gdp.csv')

### Print out the first 7 rows.

In [4]:
df.head(7)

   Unnamed: 0          COUNRY  GDP (BILLIONS) CODE
0           0     Afghanistan           21.71  AFG
1           1         Albania           13.40  ALB
2           2         Algeria          227.80  DZA
3           3  American Samoa            0.75  ASM
4           4         Andorra            4.80  AND
5           5          Angola          131.40  AGO
6           6        Anguilla            0.18  AIA

### Print out the last 3 rows.

In [5]:
df.tail(3)

     Unnamed: 0    COUNRY  GDP (BILLIONS) CODE
219         219     Yemen           45.45  YEM
220         220    Zambia           25.61  ZMB
221         221  Zimbabwe           13.74  ZWE

### What is the shape of the DataFrame?

In [6]:
df.shape

(222, 4)

### What is the data type of each column/feature?
Hint: We didn't cover this, Google it!  

Hint 2: Columns and features are interchangeable when talking about DataFrames or tabular data in general.

In [13]:
df.dtypes

Unnamed: 0          int64
COUNRY             object
GDP (BILLIONS)    float64
CODE               object
dtype: object

### Rename the column "Counry" to "Country".

In [0]:
df.rename(columns={'COUNRY':'COUNTRY'}, inplace=True)

### Verify the change persisted!

In [18]:
df

     Unnamed: 0         COUNTRY  GDP (BILLIONS) CODE
0             0     Afghanistan           21.71  AFG
1             1         Albania           13.40  ALB
2             2         Algeria          227.80  DZA
3             3  American Samoa            0.75  ASM
4             4         Andorra            4.80  AND
..          ...             ...             ...  ...
217         217  Virgin Islands            5.08  VGB
218         218       West Bank            6.64  WBG
219         219           Yemen           45.45  YEM
220         220          Zambia           25.61  ZMB
221         221        Zimbabwe           13.74  ZWE

[222 rows x 4 columns]

### Submit your assignment notebook! (Make sure you've changed the name to FIRSTNAME_LASTNAME_1_2): 

1.  Click the Share button in the upper-right hand corner of the notebook.
2.  Get the shareable link.
3.  Set condition to: "Anyone with the link can comment."
4.  TBD 



---

The question below is _optional_. Only tackle it after you've completed the rest of the assignment!

### STRETCH: Tying it back to Lesson 01...

*  What is the max GDP?
*  Min GDP?
*  Median GDP?
*  Standard Deviation of GDP?

In [0]:
# What is the max GDP?

In [38]:
df.loc[df['GDP (BILLIONS)'] == max(df['GDP (BILLIONS)'])]

     Unnamed: 0        COUNTRY  GDP (BILLIONS) CODE
211         211  United States         17420.0  USA

In [0]:
# Min GDP?

In [39]:
df.loc[df['GDP (BILLIONS)'] == min(df['GDP (BILLIONS)'])]

     Unnamed: 0 COUNTRY  GDP (BILLIONS) CODE
148         148    Niue            0.01  NIU

In [0]:
# Median GDP?

In [44]:
np.median(df['GDP (BILLIONS)'])

21.525

In [0]:
# Standard Deviation of GDP?

In [45]:
np.std(df['GDP (BILLIONS)'])

1461.5525846656521