<a href="https://colab.research.google.com/github/Diego-rp/Google-Colab/blob/master/03%20-%20Python%20Lists%20%26%20Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Lambda School Data Science - Intro to Python  
---
# 03 - Python Lists & Loops
---

##STOP! BEFORE GOING ANY FURTHER...  


1. Click "File" at the top.
2. Then, "Save a Copy in Drive."
3. Change the file name to "FIRSTNAME_LASTNAME_1_2"  

Now you have a copy of this notebook in your Drive account. This is the copy you'll edit and submit. Be sure to do this for ***every*** assignment!

## Part 1: Lists

### Use the provided lists to answer the questions and prompts.
Make sure to run the cell so the lists are declared with their corresponding values.

In [0]:
heights = [184, 177, 190, 188, 159, 166]
weights = [84.5, 81.8, 86.1, 92.2, 69.6, 72.0 ]   
names = ['John', 'Ryan', 'Bobby', 'Pete', 'Esther', 'Jane']

### 1.1 Create a new empty list named "BMI".

In [0]:
BMI = []

177

### 1.2 Combine the three lists into a new list where each element is a person's name, weight, and height. Call it "person_data".

In [0]:
person_data=[]
for i in range(len(names)):
  person_data.append([names[i], weights[i], heights[i]])

print(person_data)

[['John', 84.5, 184], ['Ryan', 81.8, 177], ['Bobby', 86.1, 190], ['Pete', 92.2, 188], ['Esther', 69.6, 159], ['Jane', 72.0, 166]]

### 1.3 Retrieve the last element of person_data.

In [0]:
person_data[-1]

['Jane', 72.0, 166]

### 1.4 Retrieve the 2nd and 3rd elements of person_data.

In [0]:
person_data[1:3]

[['Ryan', 81.8, 177], ['Bobby', 86.1, 190]]

### 1.5 Change the 1st element of person_data: increase weight to 84.9. Keep the other values unchanged.

In [0]:
person_data[0][1]=84.9
print(person_data)

[['John', 84.9, 184], ['Ryan', 81.8, 177], ['Bobby', 86.1, 190], ['Pete', 92.2, 188], ['Esther', 69.6, 159], ['Jane', 72.0, 166]]

### 1.6 Add another person, Samantha, to person_data. Her height is 162 cm and her weight is 51.3 kg.

In [0]:
person_data.append(['Samantha', 51.3, 162])
print(person_data)

[['John', 84.9, 184], ['Ryan', 81.8, 177], ['Bobby', 86.1, 190], ['Pete', 92.2, 188], ['Esther', 69.6, 159], ['Jane', 72.0, 166], ['Samantha', 51.3, 162]]

## Part 2: Loops

### 2.1 Explain a for loop in your own words.

In [0]:
# Comment your answer like so...

A *for* loop is a way to iterate for a defined range, either number or elements of an object (list, dict, tuple, etc)

It will run until a condition is met, and it has the possibility to define the amount to change in every iteration.

### 2.2 Use a for loop to calculate the BMI of each person.
>$\frac{Weight(kg)}{Height(m)^2} = BMI$

In [0]:
BMI=[]
for i in range(len(person_data)):
  BMI.append([person_data[i][0], person_data[i][1]/((person_data[i][2]/100)**2)])

print(BMI)

[['John', 25.07679584120983], ['Ryan', 26.109993935331477], ['Bobby', 23.850415512465375], ['Pete', 26.086464463558173], ['Esther', 27.530556544440483], ['Jane', 26.1286108288576], ['Samantha', 19.547325102880652]]

### 2.2 BONUS: Do it using list comprehension.

In [0]:
BMI2 = [[person_data[i][0], person_data[i][1]/((person_data[i][2]/100)**2)] for i in range(len(person_data))]

print(BMI2)

[['John', 25.07679584120983], ['Ryan', 26.109993935331477], ['Bobby', 23.850415512465375], ['Pete', 26.086464463558173], ['Esther', 27.530556544440483], ['Jane', 26.1286108288576], ['Samantha', 19.547325102880652]]