<a href="https://colab.research.google.com/github/Diego-rp/Google-Colab/blob/master/Applied%20ML%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School, Intro to Data Science, Day 8 — Classification!

## Assignment

Run this cell to load the Titanic data:

In [0]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
train, test = train_test_split(sns.load_dataset('titanic').drop(columns=['alive']), random_state=0)
target = 'survived'
train.rename(columns = {'class':'class_number'}, inplace = True) 
test.rename(columns = {'class':'class_number'}, inplace = True)

In [0]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 668 entries, 105 to 684
Data columns (total 14 columns):
survived        668 non-null int64
pclass          668 non-null int64
sex             668 non-null object
age             535 non-null float64
sibsp           668 non-null int64
parch           668 non-null int64
fare            668 non-null float64
embarked        666 non-null object
class_number    668 non-null category
who             668 non-null object
adult_male      668 non-null bool
deck            156 non-null category
embark_town     666 non-null object
alone           668 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(4)
memory usage: 60.5+ KB

Then, train a [Logistic Regression](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html#sklearn.linear_model.LogisticRegression.predict_proba), [Decision Tree](http://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html), or [Random Forest](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html) model. Use any features and parameters you want. 

Try to get better than 78.0% accuracy on the test set! (This is not required, but encouraged.)

Do refer to the lecture notebook — but try not to copy-paste.

> You must type each of these exercises in, manually. If you copy and paste, you might as well not even do them. The point of these exercises is to train your hands, your brain, and your mind in how to read, write, and see code. If you copy-paste, you are cheating yourself out of the effectiveness of the lessons. —*[Learn Python the Hard Way](https://learnpythonthehardway.org/book/intro.html)*

After this, you may want to try [Kaggle's Titanic challenge](https://www.kaggle.com/c/titanic)!

In [0]:
train['female'] = train.sex == 'female'
test['female'] = test.sex == 'female'

In [0]:
train.age.fillna(train.age.mean(), inplace=True)
test.age.fillna(test.age.mean(), inplace=True)

In [0]:
class_ranks = {'First': 1, 'Second': 2, 'Third': 3}
train.class_number = train.class_number.map(class_ranks)
test.class_number = test.class_number.map(class_ranks)

In [0]:
train.head()

     survived  pclass     sex   age  ...  deck  embark_town  alone female
105         0       3    male  28.0  ...   NaN  Southampton   True  False
68          1       3  female  17.0  ...   NaN  Southampton  False   True
253         0       3    male  30.0  ...   NaN  Southampton  False  False
320         0       3    male  22.0  ...   NaN  Southampton   True  False
706         1       2  female  45.0  ...   NaN  Southampton   True   True

[5 rows x 15 columns]

In [0]:
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression


###

features = ['female', 'age', 'class_number']
target = 'survived'

model = LogisticRegression()
model.fit(train[features], train[target])

# Train accuracy
y_true = train[target]
y_pred = model.predict(train[features])
print('Train accuracy:', accuracy_score(y_true, y_pred))

# Test accuracy
y_true = test[target]
y_pred = model.predict(test[features])
print('Test accuracy:', accuracy_score(y_true, y_pred))

Train accuracy: 0.8008982035928144
Test accuracy: 0.7937219730941704

In [0]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=2)
model.fit(train[features], train[target])

# Train accuracy
y_true = train[target]
y_pred = model.predict(train[features])
print('Train accuracy:', accuracy_score(y_true, y_pred))

# Test accuracy
y_true = test[target]
y_pred = model.predict(test[features])
print('Test accuracy:', accuracy_score(y_true, y_pred))

Train accuracy: 0.7949101796407185
Test accuracy: 0.7757847533632287