<a href="https://colab.research.google.com/github/Diego-rp/Google-Colab/blob/master/Applied%20ML%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School, Intro to Data Science, Day 7 — More Regression!

## Assignment

### 1. Experiment with Nearest Neighbor parameter

Using the same 10 training data points from the lesson, train a `KNeighborsRegressor` model with `n_neighbors=1`.

Use both `carat` and `cut` features.

Calculate the mean absolute error on the training data and on the test data.

In [39]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error

columns = ['carat', 'cut', 'price']

train = pd.DataFrame(columns=columns, 
        data=[[0.3, 'Ideal', 422],
        [0.31, 'Ideal', 489],
        [0.42, 'Premium', 737],
        [0.5, 'Ideal', 1415],
        [0.51, 'Premium', 1177],
        [0.7, 'Fair', 1865],
        [0.73, 'Fair', 2351],
        [1.01, 'Good', 3768],
        [1.18, 'Very Good', 3965],
        [1.18, 'Ideal', 4838]])

test  = pd.DataFrame(columns=columns, 
        data=[[0.3, 'Ideal', 432],
        [0.34, 'Ideal', 687],
        [0.37, 'Premium', 1124],
        [0.4, 'Good', 720],
        [0.51, 'Ideal', 1397],
        [0.51, 'Very Good', 1284],
        [0.59, 'Ideal', 1437],
        [0.7, 'Ideal', 3419],
        [0.9, 'Premium', 3484],
        [0.9, 'Fair', 2964]])

cut_ranks = {'Fair': 1, 'Good': 2, 'Very Good': 3, 'Premium': 4, 'Ideal': 5}
train.cut = train.cut.map(cut_ranks)
test.cut = test.cut.map(cut_ranks)
train

   carat  cut  price
0   0.30    5    422
1   0.31    5    489
2   0.42    4    737
3   0.50    5   1415
4   0.51    4   1177
5   0.70    1   1865
6   0.73    1   2351
7   1.01    2   3768
8   1.18    3   3965
9   1.18    5   4838

In [43]:
features = ['carat', 'cut']
target = 'price'

from sklearn.neighbors import KNeighborsRegressor
model = KNeighborsRegressor(n_neighbors=2)

model.fit(train[features], train[target])



from sklearn.metrics import mean_absolute_error
y_true = train[target]
y_pred = model.predict(train[features])
train_error = mean_absolute_error(y_true, y_pred)


y_true = test[target]
y_pred = model.predict(test[features])
test_error = mean_absolute_error(y_true, y_pred)

print('Train Error: $', round(train_error))

print('Test Error: $', round(test_error))

Train Error: $ 336.0
Test Error: $ 1059.0

How does the train error and test error compare to the previous `KNeighborsRegressor` model from the lesson? (The previous model used `n_neighbors=2` and only the `carat` feature.)

Is this new model overfitting or underfitting? Why do you think this is happening here?

with n_neighbors=1 the train error is 0 because it pass over every single spot. 

And the test error is 1129 which is not what I would expect from this model

### 2. More data, two features, linear regression

Use the following code to load data for diamonds under $5,000, and split the data into train and test sets. The training data has almost 30,000 rows, and the test data has almost 10,000 rows.

In [77]:
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

df = sns.load_dataset('diamonds')
df = df[df.price < 5000]
df = df[df.color!='NaN']
df = df[df.clarity!='NaN']
train, test = train_test_split(df.copy(), random_state=0)
train.shape, test.shape

((29409, 10), (9804, 10))

In [70]:
train.head(100)

       carat        cut color clarity  depth  table  price     x     y     z
43601   0.31  Very Good     E     SI1   61.2   58.0    507  4.34  4.38  2.67
52706   0.74       Fair     H     VS2   66.1   61.0   2553  5.60  5.57  3.69
1986    0.81  Very Good     G     SI1   62.3   59.0   3095  5.93  5.98  3.71
48617   0.70       Fair     G     SI2   61.5   66.0   1999  5.55  5.60  3.43
10947   0.87      Ideal     G     VS2   61.8   56.0   4899  6.11  6.13  3.78
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
47236   0.71  Very Good     J     SI1   62.8   57.0   1841  5.64  5.67  3.55
53015   0.52      Ideal     F      IF   60.6   57.0   2598  5.22  5.21  3.16
34384   0.41      Ideal     F     VS2   62.7   56.0    863  4.72  4.78  2.98
39853   0.57       Good     J     VS2   63.3   56.0   1100  5.24  5.28  3.33
32918   0.42      Ideal     D     SI1   61.5   56.0    810  4.81  4.85  2.97

[100 rows x 10 columns]

Then, train a Linear Regression model with the `carat` and `cut` features. Calculate the mean absolute error on the training data and on the test data.

In [78]:

cut_ranks = {'Fair': 1, 'Good': 2, 'Very Good': 3, 'Premium': 4, 'Ideal': 5}
train.cut = train.cut.map(cut_ranks)
test.cut = test.cut.map(cut_ranks)

features = ['carat', 'cut']
target = 'price'

model = LinearRegression()
model.fit(train[features], train[target])

y_true = train[target]
y_pred = model.predict(train[features])
train_error = mean_absolute_error(y_true, y_pred)


y_true = test[target]
y_pred = model.predict(test[features])
test_error = mean_absolute_error(y_true, y_pred)

print('Train Error: $', round(train_error))

print('Test Error: $', round(test_error))

Train Error: $ 309.0
Test Error: $ 310.0

Use this model to predict the price of a half carat diamond with "very good" cut

In [72]:
model.predict([[0.5, 3]])

array([1489.45526366])

### 3. More data, more features, any model

You choose what features and model type to use! Try to get a better mean absolute error on the test set than your model from the last question.

Refer to [this documentation](https://ggplot2.tidyverse.org/reference/diamonds.html) for more explanation of the features.

Besides `cut`, there are two more ordinal features, which you'd need to encode as numbers if you want to use in your model:

In [73]:
train.describe(include=['object'])

        color clarity
count   29409   29409
unique      7       8
top         E     SI1
freq     6090    6948

In [79]:
clarity_rank = {"IF":0,"VVS1":1, "VVS2":2,"VS1":3, "VS2":4,"SI1":5, "SI2":6, "I1":7}
train.clarity = train.clarity.map(clarity_rank)  

color_rank = {"J":7, "I":6, "H":5, "G":4, "F":3, "E":2, "D":1 }
train.color = train.color.map(color_rank)

features = ['color','clarity']
target = ['price']
model = LinearRegression()
model.fit(train[features], train[target])
#mean_absolute_error()
model.coef_,model.intercept_

(array([[ 77.75742165, 259.22094468]]), array([648.46824772]))